{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
    <div class="container mb-2">
        <div class="row-10">
            <div class="col-10 offset-1">
                {% if bag_items %}
                <h2 class="text-center">Shopping Bag</h2>
                <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg back-store">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text-uppercase">Back To Store</span>
                </a>
                <a href="" class="btn btn-black btn-lg checkout-btn">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                </a>
                {% endif %}
            </div>
        </div>

        <div class="row-">
            <div class="col-10 offset-1">
                {% if bag_items %}
                    <div class="container bag-table">
                        <table class="table table-bordered text-center">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3 text-center">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <p class="my-0">
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <div class="input-group">
                                                    <input class="form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                </div>
                                            </form>
                                            <a class="update-link text-info"><small>Update</small></a>
                                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                                        </p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                            <h4 class="total">Bag Total: ${{ total|floatformat:2 }}</h4>

                    </div>
                    <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg back-store">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text-uppercase">Back To Store</span>
                    </a>
                    <a href="" class="btn btn-black btn-lg checkout-btn">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </a>

                    
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black btn-lg back-store">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text-uppercase">Back To Store</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--Code below taken from Code Institute-->

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}