{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container pt-5">
    <section class="pb-2 pt-5 text-center container ">
        <div class="row py-lg-5 home-block">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light font-weight-bold">Find Something Special</h1>
                <p class="lead font-weight-bold">
                    Klarart is the one stop shop for art lovers everwhere. 
                    Not sure what you want?
                    Click 'Shop Now' and have a browse.
                </p>
                <p>
                    <a href="{% url 'products' %}" class="btn btn-primary my-2 store-btn">Shop Now</a>
                </p>
            </div>
        </div>
    </section>
</div>
<h2 class="text-center">Who Are We?</h2>
<p class="who-text">We are a family run business looking to make people happy with art.
    My wife is the artist, I am the web designer and my toddler is the boss!
    We are very passionate about art and we create many different items in
    many different styles. From paint to pencil, we have is all. We sell originals,
    prints and canvas items. We also make custom pieces for those who want something 
    a little more personal. So don't hesitate to contact us. Check out our little summary below to
    get a glimpse of who we are :)
</p>
<div class="container">

    <img class="handmade-img" src="/media/background-handmade.jpg" alt="Collection of handmade images">
</div>

{% endblock %}