{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container pt-5">
    <section class="py-5 text-center container ">
        <div class="row py-lg-5 home-block">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light font-weight-bold">Find Something Special</h1>
                <p class="lead font-weight-bold">
                    Klarart is the one stop shop for art lovers everwhere. 
                    Not sure what you want?
                    Click 'Shop Now' and have a browse.
                </p>
                <p>
                    <a href="{% url 'products' %}" class="btn btn-primary my-2 store-btn">Shop Now</a>
                </p>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <img class="handmade-img" src="/media/background-handmade.jpg" alt="Collection of handmade images">
</div>

{% endblock %}