{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container pt-5 h-100">
    <section class="py-5 text-center container ">
        <div class="row py-lg-5 home-block">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Find Something Special</h1>
                <p class="lead">
                    Klarart is the one stop shop for art lovers everwhere. Not sure what you want.
                    Click 'Shop Now' and have a browse.
                </p>
                <p>
                    <a href="#" class="btn btn-primary my-2 store-btn">Shop Now</a>
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}